<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="assets/ct_logo.png" width="30" height="30" alt="">
        </a>
    </nav>
    <a class="navbar-brand" href="#">Chandgad Tourism</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About Us</a>
            </li>
        </ul>
    </div>


    <a (click)="openLink('https://www.instagram.com/chandgad_tourism/')"><i class="p-2 bi bi-instagram"></i></a>
    <a (click)="openLink('https://twitter.com/')"><i class="p-2 bi bi-twitter-x"></i></a>
    <a (click)="openLink('https://www.instagram.com/chandgad_tourism/')"><i class="p-2 bi bi-youtube"></i></a>
</nav>
