<nav class="navbar navbar-expand-lg navbar-light bg-light fantasy-font">
    <nav class="navbar navbar-light bg-light">
        <a class="brand-logo" href="#">
            <img src="assets/ct_logo.png" width="39" height="35" alt="">
        </a>
    </nav>
    <a class="navbar-brand d-none d-md-block" href="#">Chandgad Tourism</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About Us</a>
            </li>
        </ul>
    </div>
    <a title="Instagram" (click)="openLink('Instagram')"><i class="p-2 bi bi-instagram"></i></a>
    <a title="Twitter" (click)="openLink('Twitter')"><i class="p-2 bi bi-twitter-x"></i></a>
    <a title="YouTube" (click)="openLink('YouTube')"><i class="p-2 bi bi-youtube"></i></a>
    <a title="WhatsApp" (click)="openLink('WhatsApp')"><i class="p-2 bi bi-whatsapp"></i></a>
</nav>
