<div class="card mt-5">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <h5 class="card-title">Itineraray</h5>
        </div>
        <div class="card-text">
            <div class="d-flex justify-content-center">
                
                <div>
                    <div *ngFor ="let details of itinerary">
                        <h5>{{details.day}}</h5>
                        <ul *ngFor ="let point of details.details">
                            <li>{{point}}</li>
                        </ul>
    
                    </div>
                    <p class="mt-5">For bookings and enquiries contact us on</p>
                    <p><a (click)="openLink('https://www.instagram.com/chandgad_tourism/')"><i
                                class="p-2 bi bi-instagram"></i></a>
                        <a (click)="openLink('https://twitter.com/')"><i class="p-2 bi bi-twitter-x"></i></a>
                        <a (click)="openLink('https://www.instagram.com/chandgad_tourism/')"><i
                                class="p-2 bi bi-youtube"></i></a>
                    </p>

                </div>
            </div>

        </div>

    </div>

</div>