<div class="card mt-5">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <h5 class="card-title">Itineraray</h5>
        </div>
        <div class="card-text">
            <div class="d-flex justify-content-center">

                <div>
                    <div *ngFor="let details of packageDetails">
                        <h5>{{details.day}}</h5>
                        <ul *ngFor="let point of details.details">
                            <li>{{point}}</li>
                        </ul>

                    </div>
                    <p class="mt-5">For bookings and enquiries contact us on</p>
                    
                    <div class="d-flex justify-content-center">
                        <a (click)="openLink('https://www.instagram.com/chandgad_tourism/')">
                            <h2><i class="p-2 bi bi-instagram"></i></h2>
                        </a>
                        <a (click)="openLink('https://x.com/chandgadTourism?t=HnBJgG-32jcLCQVwt4rFlA&s=08')">
                            <h2><i class="p-2 bi bi-twitter-x"></i></h2>
                        </a>
                        <a (click)="openLink('https://www.youtube.com/channel/UCd_DffMIOA93NooQvih5cAA')">
                            <h2><i class="p-2 bi bi-youtube"></i></h2>
                        </a>
                    </div>

                  

                </div>
            </div>

        </div>

    </div>

</div>