
    <div class="card mt-5">

        <div class="d-flex justify-content-center">
            <div class="card-text">
        <span>We are here to pomote the culture and tourism of Chandgad and it's neighourhood which is very much
            unexplored teritorry
            <p></p>
            <p>For more details and amazing content on travel and tourism follow us on</p>
            <div class="d-flex justify-content-center">
                <a title="Instagram" (click)="openLink('Instagram')">
                    <h2><i class="p-2 bi bi-instagram"></i></h2>
                </a>
                <a title="Twitter" (click)="openLink('Twitter')">
                    <h2><i class="p-2 bi bi-twitter-x"></i></h2>
                </a>
                <a title="YouTube" (click)="openLink('YouTube')">
                    <h2><i class="p-2 bi bi-youtube"></i></h2>
                </a>
                <a title="WhatsApp" (click)="openLink('WhatsApp')">
                    <h2><i class="p-2 bi bi-whatsapp"></i></h2>
                </a>
            </div>

        </span>
    </div>
    </div>

</div>