<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{attractionDetails.title}}</h5>
        <div class="card-text">
            <span *ngFor="let point of attractionDetails.points">{{point}}</span>
        </div>
        <div class="d-flex mt-5 justify-content-center">
            <h5 class="card-title">Image Gallary</h5>
        </div>
       
        <div class="container mt-5">
            <div class="row">
                <div class="col" *ngFor="let image of attractionDetails.images">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src={{image}} alt="Gallary images">
                        
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
