<div class="">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image  of sliderData | sortSilderPipe">
            <div class="picsum-img-wrapper">
                 <img src="{{image.src}}" alt="{{image.alt}}" class="img-fluid-carousel" height="200" /> 
            </div>
        </ng-template>
    </ngb-carousel>
</div> 

<div class="mt-5 card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-4">
            <h5 class="card-title">Tour Packages</h5>
        </div>
        
        <!-- Desktop Slider (3 components) -->
        <div class="d-none d-md-block">
            <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="0">
                <ng-template ngbSlide *ngFor="let chunk of chunkedTourPackages">
                    <div class="row px-5 pb-5">
                        <div class="col-md-4" *ngFor="let tourPackage of chunk">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">{{tourPackage.title}}</h5>
                                    <p class="card-text text-truncate-3">{{tourPackage.description}}</p>
                                    <a [routerLink]="['/package', tourPackage.packageId]" class="btn btn-primary">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

        <!-- Mobile Slider (1 component) -->
        <div class="d-md-none">
            <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="0">
                <ng-template ngbSlide *ngFor="let tourPackage of tourPackages">
                    <div class="px-4 pb-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{tourPackage.title}}</h5>
                                <p class="card-text">{{tourPackage.description}}</p>
                                <a [routerLink]="['/package', tourPackage.packageId]" class="btn btn-primary">Explore</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>

<div class="mt-5 card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-4">
            <h5 class="card-title">Tourist Attractions</h5>
        </div>

        <!-- Desktop Slider (3 components) -->
        <div class="d-none d-md-block">
            <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="0">
                <ng-template ngbSlide *ngFor="let chunk of chunkedAttractions">
                    <div class="row px-5 pb-5">
                        <div class="col-md-4" *ngFor="let attraction of chunk">
                            <div class="card h-100">
                                <img class="card-img-top" [src]="attraction.src" [alt]="attraction.title">
                                <div class="card-body">
                                    <h5 class="card-title">{{attraction.title}}</h5>
                                    <p class="card-text text-truncate-3">{{attraction.description}}</p>
                                    <a [routerLink]="['/attractions', attraction.title]" class="btn btn-primary">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

        <!-- Mobile Slider (1 component) -->
        <div class="d-md-none">
            <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="0">
                <ng-template ngbSlide *ngFor="let attraction of attractionsData">
                    <div class="px-4 pb-5">
                        <div class="card">
                            <img class="card-img-top" [src]="attraction.src" [alt]="attraction.title">
                            <div class="card-body">
                                <h5 class="card-title">{{attraction.title}}</h5>
                                <p class="card-text">{{attraction.description}}</p>
                                <a [routerLink]="['/attractions', attraction.title]" class="btn btn-primary">Explore</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
