
<div class="container mt-5 ">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/img1.png" alt="Random first slide" class="img-fluid-carousel" height="200" />
            </div>
            <div class="carousel-caption">
                <h3>Serene waterfall from Pargad</h3>
                <p>Mansoon heaven with range of waterfalls</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/IMG2.png" alt="Random first slide" class="img-fluid-carousel" height="200" />
            </div>
            <div class="carousel-caption">
                <h3>Breathtaking view of Tilari Ghat</h3>
                <p>Lush green forest of Tilari</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/img3.png" alt="Random first slide" class="img-fluid-carousel" height="200" />
            </div>
            <div class="carousel-caption">
                <h3>Paradise for hornbill sighting</h3>
                <p>Hornbill sighting is very common IN this part of western ghats</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<div class="mt-5 card">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <span>
                <h5 class="card-title">Tourist Attractions</h5>
            </span>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/img1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tilari</h5>
                            <p class="card-text">Tilari Nagar is home to an impressive selection of attractions and
                                experiences, making it well worth a visit.</p>
                            <a routerLink="/package" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/IMG2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Pargad</h5>
                            <p class="card-text"> Pargad is a beautiful fort located on the border of Maharashtra and
                                Goa
                                states. The fort is spread across 48 sq km area. The fort has fortified cut walls to its
                                east, west and north sides.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/img3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Amboli</h5>
                            <p class="card-text">Amboli is a famous hill station in South Maharashtra, India. It is the
                                last
                                hill station before the seaside highlands of Goa. Amboli lies in the Sahyadri Hills </p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5 card">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <span>
                <h5 class="card-title">Tour Pacakges</h5>
            </span>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">Explore Chandgad</h5>
                            <p class="card-text">Tilari Nagar is home to an impressive selection of attractions and
                                experiences, making it well worth a visit.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">Amboli Hills</h5>
                            <p class="card-text"> Pargad is a beautiful fort located on the border of Maharashtra and
                                Goa
                                states. The fort is spread across 48 sq km area. The fort has fortified cut walls to its
                                east, west and north sides.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Raw Nature</h5>
                            <p class="card-text">Amboli is a famous hill station in South Maharashtra, India. It is the
                                last
                                hill station before the seaside highlands of Goa. Amboli lies in the Sahyadri Hills </p>
                            <a href="#" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>