<div class="">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image  of sliderData">
            <div class="picsum-img-wrapper">
                <img src="{{image.src}}" alt="{{image.alt}}" class="img-fluid-carousel" height="200" />
            </div>
            <div class="carousel-caption">
                <h3>{{image.tagline}}</h3>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="mt-5 card">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <span>
                <h5 class="card-title">Tourist Attractions</h5>
            </span>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col" *ngFor="let attraction  of attractionsData">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{attraction.src}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{attraction.title}}</h5>
                            <p class="card-text">{{attraction.description}}</p>
                            <a [routerLink]="['/attractions','tilari']" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5 card">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <span>
                <h5 class="card-title">Tour Pacakges</h5>
            </span>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">Explore Chandgad</h5>
                            <p class="card-text">Tilari Nagar is home to an impressive selection of attractions and
                                experiences, making it well worth a visit.</p>
                            <a [routerLink]="['/package','package1']" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">Amboli Hills</h5>
                            <p class="card-text"> Pargad is a beautiful fort located on the border of Maharashtra and
                                Goa
                                states. The fort is spread across 48 sq km area. The fort has fortified cut walls to its
                                east, west and north sides.</p>
                            <a [routerLink]="['/package','package2']" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Raw Nature</h5>
                            <p class="card-text">Amboli is a famous hill station in South Maharashtra, India. It is the
                                last
                                hill station before the seaside highlands of Goa. Amboli lies in the Sahyadri Hills </p>
                            <a [routerLink]="['/package','package3']" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>